body{
}
header{
	background-color: green;padding: 5%; text-align: center;font-size: 20
}
section{
	background-color: red;padding: 10%;text-align: left;font-size: 20
}
footer{
	background-color: green;padding: 5%;text-align: center;font-size: 10
}